# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
    assignees:
      - 'jordanshatford'
    groups:
      github-actions:
        patterns:
          - "*"

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'weekly'
    assignees:
      - 'jordanshatford'
    groups:
      prod-npm:
        dependency-type: "production"
      dev-npm:
        dependency-type: "development"
