{
  "branches": ["main", "next"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/npm",
    ["@semantic-release/git", {
      "assets": ["package.json", "dist"]
    }],
    "@semantic-release/github"
  ]
}
