# wordlist-js

[![Language: TypeScript](https://img.shields.io/badge/language-typescript-%233178C6.svg?style=flat&logo=typescript)](https://www.typescriptlang.org/)
[![Prettier](https://img.shields.io/badge/code--formatter-prettier-%23F7B93E?style=flat&logo=prettier)](https://prettier.io/)
[![Eslint](https://img.shields.io/badge/linter-eslint-%234B32C3?style=flat&logo=eslint)](https://eslint.org/)
[![npm](https://img.shields.io/npm/v/wordlist-js)](https://www.npmjs.com/package/wordlist-js)
[![npm bundle size](https://img.shields.io/bundlephobia/min/wordlist-js)](https://www.npmjs.com/package/wordlist-js)
[![npm](https://img.shields.io/npm/dw/wordlist-js)](https://www.npmjs.com/package/wordlist-js)
[![License: MIT](https://img.shields.io/badge/license-MIT-brightgreen.svg?style=flat&logo=license)](https://github.com/navneetsharmaui/sveltekit-blog/blob/main/LICENSE)

wordlist-js provides lists of English words based on how common they are used. It also provides words for many English dialects. These words are generated using text file sources found in [SCOWL](http://wordlist.aspell.net/)

## Available Words Lists
{{ #dialects }}
### {{{ name }}}
---
```sh
{{ #frequencies }}{{{ name }}}{{{ . }}}, {{ /frequencies }}{{{ name }}}All
```
{{ /dialects }}

## More Information
  - [SCOWL sources and frequencies](./src/assets/README.md)
  - [SCOWL ReadMe](http://wordlist.aspell.net/scowl-readme/)
