{{ #frequencies }}
export const {{ name }} = [
  {{ #words }}
  "{{{ . }}}",
  {{ /words }}
]
{{ /frequencies }}
export const {{ dialect }}All = [
{{ #frequencies }}
  ...{{ name }},
{{ /frequencies }}
]
